@use 'variables' as *;

textarea {
  background-color: #070707;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  height: 60%;
  width: 90%;
  margin: auto;
  border: none;
  resize: none;
  color: white;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  overflow: auto;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #222;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
